#verilog
*.vcd
*.out
vivado_project/
lab3/lab3_customIP/lab3_customIP.tmp/
lab3/lab3_customIP/lab3_customIP.runs/
lab2/vivado_proj/Lab_2_interupt/lab2_interrupt_arm/lab2_interrupt_arm.sdk/.metadata/
lab4/lab4.runs/
lab4/lab4.cache/
lab3/lab3_HwDebug/lab3_HwDebug.runs/
lab3/lab3_HwDebug/lab3_HwDebug.cache/
*.backup.*
*.eclipse.*
*.jou
*.log
*.log
*.perfs
*.xmi
*.resources

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
